<h1>Log in</h1>

<%= form_tag login_path, :method => 'post' do %>
  <div class="col-md-6 col-md-offset-3">
  	<div class="input-group">
    	<span class="input-group-addon">Username</span>
    	<%= text_field_tag :username, params[:username], :class => "form-control", :placeholder => "Username" %>
		</div>
		<br/>
  </div>
  <div class="col-md-6 col-md-offset-3">
  	<div class="input-group">
    	<span class="input-group-addon">Password</span>
    	<%= password_field_tag :password, params[:password], :class => "form-control", :placeholder => "Password" %>
		</div>
		<br/>
  </div>
  <div class="col-md-7 col-md-offset-5">
  	<%= submit_tag "Log in", :class => "btn btn-success" %>
  </div>
<% end %>