
<li class="col-md-5 clearfix">
  <div class="thumbnail clearfix">
    <div class="caption" class="pull-left">
      <p> Rating: <strong> <%= comment.rating %> </p>
      <h4>      
        <%= comment.user.full_name %>
      </h4>
      <small><%= comment.content %></small>
        
      
    </div>
  </div>
</li>
