%tr
  %td= comment.comment_date
  %td= comment.user.username
  %td= comment.content, 
  %td 
    - 5.times do |i|
      - unless i == comment.rating - 1
        %input{ :name => "star2", :type => "radio", :class => "star", :disabled => "disabled" }
      - else
        %input{ :name => "star2", :type => "radio", :class => "star", :disabled => "disabled", :checked => "checked" }
  
